<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}  - {{ site.title }}</title>
    <meta name="description" value="{{ page.description }}" />
    <meta name="keywords" value="{{ page.keywords }}" />
    <link rel="stylesheet" type="text/css" href="/owasp-esapy-ruby/styles/style.css" media="screen" />
  </head>
  <body>
    <div id="container">
      {{ content }}
    </div>

	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-16737709-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
 	<div id="footer">
		&copy; 2010 by <a href="mailto:thesp0nge@owasp.org">Paolo Perego</a> and the Owasp Esapi for Ruby team. {{ site.time }}
	</div>
  </body>
</html>