---
layout: master
active: news
---

<div id="post">
<h2>{{ page.title }}</h2>
<h3>{{ page.date | date: "%d %B %Y" }}</h3>
<div id="post-content">
  {{ content }}
</div>
</post>

<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://owaspesapiruby.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=owaspesapiruby">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/owaspesapiruby/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>

<a href="{{ page.url }}#disqus_thread">View Comments</a>
<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/[your-site-name]/embed.js"></script>