html {
	width: 800px;
}
h2 {
	font-family: "Helvetica neue";
}

body {
	padding: 0;
	width: 800px;
	font-family: 'Neuton', Georgia, Tahoma, Helvetica, "Sans serif";
	font-size: 1.2em;
	line-height: 1.3em;
	color: #333333;
}

h1 {
  font-family: 'Yanone Kaffeesatz', "Trebuchet MS", Arial, sans-serif;
  font-size: 3em;
  font-weight: normal;
  color: #333333;
  margin: 10px 0px 10px 45px;
}

h2 {
  font-family: 'Yanone Kaffeesatz', "Trebuchet MS", Arial, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #b02c2f;
  margin: 0;
  padding-bottom: 0.4em;
}
h3 {
  font-family: 'Yanone Kaffeesatz', "Trebuchet MS", Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #324479;
  margin: 0;
  padding-bottom: 0.8em;
  clear: both;
}
a {
  color: #0d6dcc;
  text-decoration: none;
}
a:hover {
  color: #175492;
  text-decoration: underline;
}

#container {
	margin: 5px 0 0 0;
	width: 500px;
}

#sidebar {
	position: absolute;
	left: 550px;
	width: 100px;
	top: 150px;
	font-size: 0.8em;
}

.news_list_item {
	margin-top: 5px;
	font-family: 'Neucha', 'Inconsolata', 'Serif';
}
#footer {
	
	margin-top: 70px;
	font-family: 'Inconsolata', 'Monaco', "courier new", courier, typewriter;
	font-size: 0.7em;
  color: #b4b4b4;
}
#footer #copyright { color: #858585; }



#roadmap ul {
	list-style: none;
	padding: 5px;
}
#roadmap li {
	padding: 5px;
}
#roadmap li #date {
	color: #CC6666;
	font-weight: bold;
	font-family: monaco, typewriter, "courier new";
}
#roadmap #milestone {
	
	width: 600px;
	
	padding-top: 3px;
	padding-left: 3px;
	border-style: dashed;
	border-width: 1px;
	background-color: #CC6666;
}

/* Navigation and header */

#header_wrapper {
  height: 140px;
}

#header {
  width: 800px;
  height: 140px;
  margin: 0 auto;
  position: relative;
}

#logo {
  display: block;
  position: absolute;
  width: 400px;
  height: 140px;
  left: 5px;
  top: 0px;
  background: url(../images/logo.png) no-repeat;
}
#navigation {
  position: absolute;
  right: 15px;
  top: 38px;
  width: 400px;
}

ul#navigation {
	list-style-type: none;
}
#navigation li {
  float: right;
  height: 43px;
}
#navigation li a {
  display: block;
  height: 43px;
  padding: 0 14px;
  line-height: 43px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #b02c2f;
  text-decoration: none;
  text-shadow: #660000 0 1px 1px;
}
#navigation li a:hover { text-decoration: underline; }
#navigation .active_tab { background: url(../images/active_tab.png) no-repeat top right; }
/* #navigation .active_tab a { background: url(/images/tab_left.png) no-repeat top left; } */
#navigation .active_tab a:hover { text-decoration: none; }

#post {
	padding: 10px;
	width: 500px;
	font-size: 1em;
  background-color: #F3D1DE;
  box-shadow: 0 0 5px #660000;
  -moz-box-shadow: 0 0 5px #660000;
  -webkit-box-shadow: 0 0 5px #660000;
}


#post h3 {
	font-size: 1.2em;
	font-style: italic;
	color: #666666;
	font-family: "Times New Roman", Serif;
}
